doctype html
head
  title Physical
  link(href='style.css', type='text/css', rel='stylesheet')
  link(href='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css', rel='stylesheet')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js')
  script(src='script_chapter6.js', type='text/javascript')
body
  div.container
    div.jumbotron
      h1 Physical Moodle Helper
      p by justin0u0
    div.row.myrow
      div.chapter
        h2 Chapter 6
        div.question
          h4 Question 1
          span (Work, chapter 6) A meteorite plunges to Earth, embedding itself 
          span
            input(type='text', id='q1_1').box
          span cm in the ground. If it does 
          span 
            input(type='text', id='q1_2').box
          span MJ of work in the process, what average force(MN) does the meteorite exert on the ground? (g=9.8m/s2)
          br
          button(onclick='solve_Q1()').btn.btn-primary.ans View Answer
          input(id='answer1')
        div.question
          h4 Question 2
          span A cyclotron accelerates protons from rest to 
          span
            input(type='text', id='q2_1').box
          span Mm/s. The work that cyclotron do on each proton is Z&times;10-14 J. Then determine Z=? (the mass of a proton = 1.67&times;10-27 kg)
          br
          button(onclick='solve_Q2()').btn.btn-primary.ans View Answer
          input(id='answer2')
        div.question
          h4 Question 3
          span A 
          span
            input(type='text', id='q3_1').box
          span -kg long-jumper takes 
          span
            input(type='text', id='q3_2').box
          span s to reach a prejump speed of 
          span
            input(type='text', id='q3_3').box
          span m/s. What&rsquo;s his power(kW) output?
          br
          button(onclick='solve_Q3()').btn.btn-primary.ans View Answer
          input(id='answer3')
        div.question
          h4 Question 4
          span (Power, chapter 6) In midday sunshine, solar energy strikes Earth at the rate of about 
          span
            input(type='text', id='q4_1').box
          span kW/m2. How long(hour) would it take a perfectly efficient solar collector of 
          span
            input(type='text', id='q4_2').box
          span -m2 area to collect 
          span
            input(type='text', id='q4_3').box
          span kW&middot;h of energy?
          br
          button(onclick='solve_Q4()').btn.btn-primary.ans View Answer
          input(id='answer4')
        div.question
          h4 Question 5
          span There is a person from the foot to the head 
          span
            input(type='text', id='q5_1').box
          span -m-tall. If blood circulates through the body at the rate of 
          span
            input(type='text', id='q5_2').box
          span L/min, estimate the heart&rsquo;s power(W) output. (1 L of blood mass 1 kg) (g=9.8m/s2)
          br
          button(onclick='solve_Q5()').btn.btn-primary.ans View Answer
          input(id='answer5')
        div.question
          h4 Question 6
          span (Problem 45) You pull a box 
          span
            input(type='text', id='q6_1').box
          span m horizontally, using the rope shown in Figure 6.16, If the rope tension is 
          span
            input(type='text', id='q6_2').box
          span N, and if the rope does 
          span
            input(type='text', id='q6_3').box
          span J of work on the box, what angle(In radian) does the rope make with the horizontal?
          br
          button(onclick='solve_Q6()').btn.btn-primary.ans View Answer
          input(id='answer6')
